### Remove:
* Null values, new_line("\n"), hashtags("#*"), emojis, other characters
### Replace:
* ['ሐ', 'ሑ', 'ሒ', 'ሓ', 'ሔ', 'ሖ'] with ['ሀ', 'ሁ', 'ሂ', 'ሃ', 'ሄ', 'ህ', 'ሆ']
* ['ኀ', 'ኁ', 'ኂ', 'ኃ', 'ኄ', 'ኅ', 'ኆ'] with ['ሀ', 'ሁ', 'ሂ', 'ሃ', 'ሄ', 'ህ', 'ሆ']
* ['ሠ', 'ሡ', 'ሢ', 'ሣ', 'ሤ', 'ሦ', 'ሦ', 'ሧ'] with ['ሰ, 'ሱ', 'ሲ', 'ሳ', 'ሴ', 'ስ', 'ሶ', 'ሷ']
* ['ዐ', 'ዑ', 'ዒ', 'ዓ', 'ዔ', 'ዕ', 'ዖ'] with ['አ', 'ኡ', 'ኢ', 'ኣ', 'ኤ', 'እ', 'ኦ']
* ['ጸ', 'ጹ', 'ጺ', 'ጻ', 'ጼ', 'ጽ', 'ጾ'] with ['ፀ', 'ፁ', 'ፂ', 'ፃ', 'ፄ', 'ፅ', 'ፆ']

#### Import modules

In [48]:
import sys, os
import pandas as pd
sys.path.append(os.path.abspath(os.path.join('../src/')))

In [49]:
from utils import utils

In [50]:
letters = [
  [['ሐ', 'ሑ', 'ሒ', 'ሓ', 'ሔ', 'ሖ'], ['ሀ', 'ሁ', 'ሂ', 'ሃ', 'ሄ', 'ህ', 'ሆ']],
  [['ኀ', 'ኁ', 'ኂ', 'ኃ', 'ኄ', 'ኅ', 'ኆ'], ['ሀ', 'ሁ', 'ሂ', 'ሃ', 'ሄ', 'ህ', 'ሆ']],
  [['ሠ', 'ሡ', 'ሢ', 'ሣ', 'ሤ', 'ሦ', 'ሦ', 'ሧ'], ['ሰ', 'ሱ', 'ሲ', 'ሳ', 'ሴ', 'ስ', 'ሶ', 'ሷ']],
  [['ዐ', 'ዑ', 'ዒ', 'ዓ', 'ዔ', 'ዕ', 'ዖ'], ['አ', 'ኡ', 'ኢ', 'ኣ', 'ኤ', 'እ', 'ኦ']],
  [['ጸ', 'ጹ', 'ጺ', 'ጻ', 'ጼ', 'ጽ', 'ጾ'], ['ፀ', 'ፁ', 'ፂ', 'ፃ', 'ፄ', 'ፅ', 'ፆ']]
]

#### Init Variables

In [51]:
parsed_dir = "../data/parsed"
cleaned_dir = "../data/cleaned"
util = utils.Util()

In [56]:
def clean_parsed_data(folder_path):
    # Check if the provided path is a directory
    if not os.path.isdir(folder_path):
        print(f"{folder_path} is not a valid directory.")
        return

    # Loop through each file in the directory
    for file_name in os.listdir(folder_path):
        base_name, extension = os.path.splitext(file_name)
        print(base_name,extension)
        if extension =='csv':
            df = pd.read_csv(f"{folder_path}/{file_name}", index_col='id')
            df = df.dropna()
            df = df.replace('\n', ' ', regex=True)
            # Extract and remove hashtags
            df['hashtags'] = df['text'].apply(lambda x: util.extract_hashtags(x))
            df['text'] = df['text'].str.replace(r'\#\w+', '', regex=True)
            
            # Extract and remove emojis using regex
            df['emojis'] = df['text'].apply(util.extract_emojis)
            df['text'] = df['text'].apply(util.remove_emojis)

            for letter in letters:
                for i in range(len(letter[0])):
                    df['text'] = df['text'].str.replace(letter[0][i], letter[1][i])
            # extract and Reove symbols
            df['symbols'] = df['text'].apply(util.extract_symbols)
            df['text'] = df['text'].apply(util.remove_symbols)
            # extract and remove urls
            df['links'] = df['text'].apply(util.extract_urls)

            df['text'] = df['text'].str.replace('\s+', ' ', regex=True).str.strip()
            df['text'] = df['text'].replace(r'!+', '!', regex=True)
            df['text'] = df['text'].replace(r'\.+', '', regex=True)
            base_name, extension = os.path.splitext(file_name)
            df.to_csv(f"{cleaned_dir}/{base_name}.csv")
            df['text'].to_csv(f"{cleaned_dir}/{base_name}.txt", index=False, header=False)

In [57]:
clean_parsed_data(parsed_dir)

ብስራት ስፖርት
DREAM APP™
Sheger Press️️
TIKVAH
DID U KNOW️⁉️
THE GOAT LM♾ 🐐
አስደናቂ እውነታዎች 🌍
4-3-3 FAST SPORT™
YeneTube
DREAM SPORT ™
💕🎄ፍቅርን በቃላት🎄💕
ETHIO ARSENAL
Manchester United Fans™
ኢትዮ ሪያል ማድሪድ
ኢትዮ መረጃ - NEWS
😍Best Profile Pictures😍
History 📚
Ethio University News®
🔶Wonder🤔
QUBEE ACADEMY
ዳጉ ስፖርት DAGU SPORT
90 ደቂቃ ስፖርት™
አዲስ ነገር መረጃ
Wasu Mohammed(ዋሱ መሀመድ)
ETHIO-MEREJA®

#### Read parsed data

In [39]:
df = pd.read_csv(f"{parsed_dir}/{file_name}.csv", index_col='id')
df.head()

                                                    text                 date
id
30554  አርሰናል የታሚ አብርሀምን ፊርማ ስፐርስ እና ዌስትሀምን በልጦ ለማግኘት ...  2021-07-21T11:15:04
31040  ዶኒ ቫንዴቢክ ከቤቱ አይለቅም!\n\nየማንቸስተር ዩናይትዱ ኮከብ ዶኒ ቫን...  2021-07-22T07:29:56
31041  1982 "ኬን ቤትስ ቼልሲን በ 1 ሚ ፓ ገዛ\n\n2003 ኬን ቤትስ ቼል...  2021-07-22T07:29:56
31042  ሉይ ቫን ሃል የ ኔዘርላንድ ብሄራዊ ቡድን አሰልጣኝ ተደርጎ ተሹሙዋል የ ...  2021-07-22T07:29:56
31043  የፓውሎ ዲባላ ወኪል በአጥቂው የውል ማራዘሚያ ላይ ለመወያየት በወሩ መጨረ...  2021-07-22T07:29:56

In [4]:
df.shape

(39754, 2)

#### Remove null values

In [5]:
df = df.dropna()
df.head()

                                                 text                 date
id
12  ታሪክ የሌለው ህዝብ ታሪካዊ ስራ ለመስራት አይጓጓም። ነፃነትም የማያውቅ ...  2017-07-27T11:37:49
14                     ኢትዮጵያ ኣደይ !\n\n@tikvahethiopia  2017-07-27T11:52:34
15  አደራ ልጄ \n\nገንዘብ ውርሴን አምጪ አትበይኝ አደራ\nመኪና ቪላ ፎቅ ...  2017-07-27T12:13:05
17         ኢትዮጵያ ሀገሬ መመኪያ ነሽ ክብሬ !\n\n@tikvahethiopia  2017-07-27T13:15:01
18  ኢትዮጵያዊነት\n\nኢትዮጵያዊነት ብዙ የተለያዩ ኅብረተሰቦች የተዋኅዱበት ...  2017-07-27T13:37:46

In [11]:
df.shape

(49237, 2)

#### Remove new line

In [12]:
df = df.replace('\n', ' ', regex=True)
df.head()

                                                    text                 date
id
30554  አርሰናል የታሚ አብርሀምን ፊርማ ስፐርስ እና ዌስትሀምን በልጦ ለማግኘት ...  2021-07-21T11:15:04
31040  ዶኒ ቫንዴቢክ ከቤቱ አይለቅም!  የማንቸስተር ዩናይትዱ ኮከብ ዶኒ ቫንዴቢ...  2021-07-22T07:29:56
31041  1982 "ኬን ቤትስ ቼልሲን በ 1 ሚ ፓ ገዛ  2003 ኬን ቤትስ ቼልሲን...  2021-07-22T07:29:56
31042  ሉይ ቫን ሃል የ ኔዘርላንድ ብሄራዊ ቡድን አሰልጣኝ ተደርጎ ተሹሙዋል የ ...  2021-07-22T07:29:56
31043  የፓውሎ ዲባላ ወኪል በአጥቂው የውል ማራዘሚያ ላይ ለመወያየት በወሩ መጨረ...  2021-07-22T07:29:56

#### Extract and remove hasthags

In [40]:
# Extract hashtags
df['hashtags'] = df['text'].apply(lambda x: util.extract_hashtags(x))
df.head()

,text,date,hashtags
id,,,
30554,አርሰናል የታሚ አብርሀምን ፊርማ ስፐርስ እና ዌስትሀምን በልጦ ለማግኘት ...,2021-07-21T11:15:04,[]
31040,ዶኒ ቫንዴቢክ ከቤቱ አይለቅም!\n\nየማንቸስተር ዩናይትዱ ኮከብ ዶኒ ቫን...,2021-07-22T07:29:56,[]
31041,"1982 ""ኬን ቤትስ ቼልሲን በ 1 ሚ ፓ ገዛ\n\n2003 ኬን ቤትስ ቼል...",2021-07-22T07:29:56,[]
31042,ሉይ ቫን ሃል የ ኔዘርላንድ ብሄራዊ ቡድን አሰልጣኝ ተደርጎ ተሹሙዋል የ ...,2021-07-22T07:29:56,[]
31043,የፓውሎ ዲባላ ወኪል በአጥቂው የውል ማራዘሚያ ላይ ለመወያየት በወሩ መጨረ...,2021-07-22T07:29:56,[]

In [14]:
# Remove hashtags from text
df['text'] = df['text'].str.replace(r'\#\w+', '', regex=True)
df.head()

,text,date,hashtags
id,,,
30554,አርሰናል የታሚ አብርሀምን ፊርማ ስፐርስ እና ዌስትሀምን በልጦ ለማግኘት ...,2021-07-21T11:15:04,[]
31040,ዶኒ ቫንዴቢክ ከቤቱ አይለቅም! የማንቸስተር ዩናይትዱ ኮከብ ዶኒ ቫንዴቢ...,2021-07-22T07:29:56,[]
31041,"1982 ""ኬን ቤትስ ቼልሲን በ 1 ሚ ፓ ገዛ 2003 ኬን ቤትስ ቼልሲን...",2021-07-22T07:29:56,[]
31042,ሉይ ቫን ሃል የ ኔዘርላንድ ብሄራዊ ቡድን አሰልጣኝ ተደርጎ ተሹሙዋል የ ...,2021-07-22T07:29:56,[]
31043,የፓውሎ ዲባላ ወኪል በአጥቂው የውል ማራዘሚያ ላይ ለመወያየት በወሩ መጨረ...,2021-07-22T07:29:56,[]

#### Extract emojis

In [16]:
# Extract emojis using regex
df['emojis'] = df['text'].apply(util.extract_emojis)
df.tail()

,text,date,hashtags,emojis
id,,,,
118988,ክርስቲያኖ ሮናልዶ የ2023 ምርጥ ግብ አግቢ በመሆን የግሎብ እግር ኳስ ...,2024-01-04T16:53:49,[],🐐♨♦♨♦
118989,የጣሊያን ሴሪ ኤ የታህሳስ ወር ምርጥ ተጫዋች እጩዎች ይፋ ሆነዋል። Sh...,2024-01-04T17:10:01,[],♨♦♨♦
118990,ሽመልስ በቀለ ራሱን ከብሔራዊ ቡድን አግልሏል ! Share ♨️ ♦️ @f...,2024-01-04T17:16:25,[],♨♦♨♦
118991,ሽመልስ በቀለ 🗣️“ጊዜው አሁን እንደሆነ ይሰማኛል ፣ ብሔራዊ ቡድኑን የም...,2024-01-04T17:20:01,[],🗣♨♦♨♦
118992,ዶርትሙንድ በ2.6 ሚልየን ፓውንድ የውሰት ውል ጄደን ሳንቾን ወደ ቡድኑ ...,2024-01-04T17:27:01,[],♨♦♨♦

In [17]:
df_83826 = df.loc[83826]
df_83826

text        ጎልልልልልልል ኖቲንጋም   ኖቲንጋም 1-1 ማን ዩናይትድ
date                        2023-01-25T23:23:52
hashtags                                     []
emojis
Name: 83826, dtype: object

#### Remove emojis from text

In [18]:
df['text'] = df['text'].apply(util.remove_emojis)

In [19]:
df_83826 = df.loc[83826]
df_83826

text        ጎልልልልልልል ኖቲንጋም   ኖቲንጋም 1-1 ማን ዩናይትድ
date                        2023-01-25T23:23:52
hashtags                                     []
emojis
Name: 83826, dtype: object

#### Replace letters:
* ['ሐ', 'ሑ', 'ሒ', 'ሓ', 'ሔ', 'ሖ'] with ['ሀ', 'ሁ', 'ሂ', 'ሃ', 'ሄ', 'ህ', 'ሆ']
* ['ኀ', 'ኁ', 'ኂ', 'ኃ', 'ኄ', 'ኅ', 'ኆ'] with ['ሀ', 'ሁ', 'ሂ', 'ሃ', 'ሄ', 'ህ', 'ሆ']
* ['ሠ', 'ሡ', 'ሢ', 'ሣ', 'ሤ', 'ሦ', 'ሦ', 'ሧ'] with ['ሰ, 'ሱ', 'ሲ', 'ሳ', 'ሴ', 'ስ', 'ሶ', 'ሷ']
* ['ዐ', 'ዑ', 'ዒ', 'ዓ', 'ዔ', 'ዕ', 'ዖ'] with ['አ', 'ኡ', 'ኢ', 'ኣ', 'ኤ', 'እ', 'ኦ']
* ['ጸ', 'ጹ', 'ጺ', 'ጻ', 'ጼ', 'ጽ', 'ጾ'] with ['ፀ', 'ፁ', 'ፂ', 'ፃ', 'ፄ', 'ፅ', 'ፆ']

In [20]:
letters = [
  [['ሐ', 'ሑ', 'ሒ', 'ሓ', 'ሔ', 'ሖ'], ['ሀ', 'ሁ', 'ሂ', 'ሃ', 'ሄ', 'ህ', 'ሆ']],
  [['ኀ', 'ኁ', 'ኂ', 'ኃ', 'ኄ', 'ኅ', 'ኆ'], ['ሀ', 'ሁ', 'ሂ', 'ሃ', 'ሄ', 'ህ', 'ሆ']],
  [['ሠ', 'ሡ', 'ሢ', 'ሣ', 'ሤ', 'ሦ', 'ሦ', 'ሧ'], ['ሰ', 'ሱ', 'ሲ', 'ሳ', 'ሴ', 'ስ', 'ሶ', 'ሷ']],
  [['ዐ', 'ዑ', 'ዒ', 'ዓ', 'ዔ', 'ዕ', 'ዖ'], ['አ', 'ኡ', 'ኢ', 'ኣ', 'ኤ', 'እ', 'ኦ']],
  [['ጸ', 'ጹ', 'ጺ', 'ጻ', 'ጼ', 'ጽ', 'ጾ'], ['ፀ', 'ፁ', 'ፂ', 'ፃ', 'ፄ', 'ፅ', 'ፆ']]
]
for letter in letters:
  for i in range(len(letter[0])):
    df['text'] = df['text'].str.replace(letter[0][i], letter[1][i])

#### Extract symbols

In [21]:
df['symbols'] = df['text'].apply(util.extract_symbols)
df.tail()

,text,date,hashtags,emojis,symbols
id,,,,,
118988,ክርስቲያኖ ሮናልዶ የ2023 ምርጥ ግብ አግቢ በመሆን የግሎብ እግር ኳስ ...,2024-01-04T16:53:49,[],🐐♨♦♨♦,______
118989,የጣሊያን ሴሪ ኤ የታህሳስ ወር ምርጥ ተጫዋች እጩዎች ይፋ ሆነዋል። Sh...,2024-01-04T17:10:01,[],♨♦♨♦,______
118990,ሽመልስ በቀለ ራሱን ከብሄራዊ ቡድን አግልሏል ! Share ️ ️ @fas...,2024-01-04T17:16:25,[],♨♦♨♦,______
118991,ሽመልስ በቀለ ️“ጊዜው አሁን እንደሆነ ይሰማኛል ፣ ብሄራዊ ቡድኑን የምሰ...,2024-01-04T17:20:01,[],🗣♨♦♨♦,"“""______"
118992,ዶርትሙንድ በ2.6 ሚልየን ፓውንድ የውሰት ውል ጄደን ሳንቾን ወደ ቡድኑ ...,2024-01-04T17:27:01,[],♨♦♨♦,______

In [22]:
df['text'] = df['text'].apply(util.remove_symbols)
df.tail()

,text,date,hashtags,emojis,symbols
id,,,,,
118988,ክርስቲያኖ ሮናልዶ የ2023 ምርጥ ግብ አግቢ በመሆን የግሎብ እግር ኳስ ...,2024-01-04T16:53:49,[],🐐♨♦♨♦,______
118989,የጣሊያን ሴሪ ኤ የታህሳስ ወር ምርጥ ተጫዋች እጩዎች ይፋ ሆነዋል። Sh...,2024-01-04T17:10:01,[],♨♦♨♦,______
118990,ሽመልስ በቀለ ራሱን ከብሄራዊ ቡድን አግልሏል ! Share ️ ️ @fas...,2024-01-04T17:16:25,[],♨♦♨♦,______
118991,ሽመልስ በቀለ ️ ጊዜው አሁን እንደሆነ ይሰማኛል ፣ ብሄራዊ ቡድኑን የምሰ...,2024-01-04T17:20:01,[],🗣♨♦♨♦,"“""______"
118992,ዶርትሙንድ በ2.6 ሚልየን ፓውንድ የውሰት ውል ጄደን ሳንቾን ወደ ቡድኑ ...,2024-01-04T17:27:01,[],♨♦♨♦,______

#### Extract Links

In [23]:
df['links'] = df['text'].apply(util.extract_urls)
df.tail()

,text,date,hashtags,emojis,symbols,links
id,,,,,,
118988,ክርስቲያኖ ሮናልዶ የ2023 ምርጥ ግብ አግቢ በመሆን የግሎብ እግር ኳስ ...,2024-01-04T16:53:49,[],🐐♨♦♨♦,______,[]
118989,የጣሊያን ሴሪ ኤ የታህሳስ ወር ምርጥ ተጫዋች እጩዎች ይፋ ሆነዋል። Sh...,2024-01-04T17:10:01,[],♨♦♨♦,______,[]
118990,ሽመልስ በቀለ ራሱን ከብሄራዊ ቡድን አግልሏል ! Share ️ ️ @fas...,2024-01-04T17:16:25,[],♨♦♨♦,______,[]
118991,ሽመልስ በቀለ ️ ጊዜው አሁን እንደሆነ ይሰማኛል ፣ ብሄራዊ ቡድኑን የምሰ...,2024-01-04T17:20:01,[],🗣♨♦♨♦,"“""______",[]
118992,ዶርትሙንድ በ2.6 ሚልየን ፓውንድ የውሰት ውል ጄደን ሳንቾን ወደ ቡድኑ ...,2024-01-04T17:27:01,[],♨♦♨♦,______,[]

#### Remove links

In [24]:
df['text'] = df['text'].str.replace(util.url_pattern, '', regex=True).str.strip()
df.tail()

,text,date,hashtags,emojis,symbols,links
id,,,,,,
118988,ክርስቲያኖ ሮናልዶ የ2023 ምርጥ ግብ አግቢ በመሆን የግሎብ እግር ኳስ ...,2024-01-04T16:53:49,[],🐐♨♦♨♦,______,[]
118989,የጣሊያን ሴሪ ኤ የታህሳስ ወር ምርጥ ተጫዋች እጩዎች ይፋ ሆነዋል። Sh...,2024-01-04T17:10:01,[],♨♦♨♦,______,[]
118990,ሽመልስ በቀለ ራሱን ከብሄራዊ ቡድን አግልሏል ! Share ️ ️ @fas...,2024-01-04T17:16:25,[],♨♦♨♦,______,[]
118991,ሽመልስ በቀለ ️ ጊዜው አሁን እንደሆነ ይሰማኛል ፣ ብሄራዊ ቡድኑን የምሰ...,2024-01-04T17:20:01,[],🗣♨♦♨♦,"“""______",[]
118992,ዶርትሙንድ በ2.6 ሚልየን ፓውንድ የውሰት ውል ጄደን ሳንቾን ወደ ቡድኑ ...,2024-01-04T17:27:01,[],♨♦♨♦,______,[]

#### Extract mentions

In [25]:
df['mentions'] = df['text'].apply(util.extract_mentions)
df.tail()

,text,date,hashtags,emojis,symbols,links,mentions
id,,,,,,,
118988,ክርስቲያኖ ሮናልዶ የ2023 ምርጥ ግብ አግቢ በመሆን የግሎብ እግር ኳስ ...,2024-01-04T16:53:49,[],🐐♨♦♨♦,______,[],"[fast, fast]"
118989,የጣሊያን ሴሪ ኤ የታህሳስ ወር ምርጥ ተጫዋች እጩዎች ይፋ ሆነዋል። Sh...,2024-01-04T17:10:01,[],♨♦♨♦,______,[],"[fast, fast]"
118990,ሽመልስ በቀለ ራሱን ከብሄራዊ ቡድን አግልሏል ! Share ️ ️ @fas...,2024-01-04T17:16:25,[],♨♦♨♦,______,[],"[fast, fast]"
118991,ሽመልስ በቀለ ️ ጊዜው አሁን እንደሆነ ይሰማኛል ፣ ብሄራዊ ቡድኑን የምሰ...,2024-01-04T17:20:01,[],🗣♨♦♨♦,"“""______",[],"[fast, fast]"
118992,ዶርትሙንድ በ2.6 ሚልየን ፓውንድ የውሰት ውል ጄደን ሳንቾን ወደ ቡድኑ ...,2024-01-04T17:27:01,[],♨♦♨♦,______,[],"[fast, fast]"

In [26]:
df['text'] = df['text'].str.replace(util.mention_pattern, '', regex=True).str.strip()
df.tail()

,text,date,hashtags,emojis,symbols,links,mentions
id,,,,,,,
118988,ክርስቲያኖ ሮናልዶ የ2023 ምርጥ ግብ አግቢ በመሆን የግሎብ እግር ኳስ ...,2024-01-04T16:53:49,[],🐐♨♦♨♦,______,[],"[fast, fast]"
118989,የጣሊያን ሴሪ ኤ የታህሳስ ወር ምርጥ ተጫዋች እጩዎች ይፋ ሆነዋል። Sh...,2024-01-04T17:10:01,[],♨♦♨♦,______,[],"[fast, fast]"
118990,ሽመልስ በቀለ ራሱን ከብሄራዊ ቡድን አግልሏል ! Share ️ ️ spo...,2024-01-04T17:16:25,[],♨♦♨♦,______,[],"[fast, fast]"
118991,ሽመልስ በቀለ ️ ጊዜው አሁን እንደሆነ ይሰማኛል ፣ ብሄራዊ ቡድኑን የምሰ...,2024-01-04T17:20:01,[],🗣♨♦♨♦,"“""______",[],"[fast, fast]"
118992,ዶርትሙንድ በ2.6 ሚልየን ፓውንድ የውሰት ውል ጄደን ሳንቾን ወደ ቡድኑ ...,2024-01-04T17:27:01,[],♨♦♨♦,______,[],"[fast, fast]"

#### Remove extra spaces

In [27]:
df['text'] = df['text'].str.replace('\s+', ' ', regex=True).str.strip()

In [28]:
df['text'] = df['text'].str.replace('\s+', ' ', regex=True).str.strip()
df['text'] = df['text'].replace(r'!+', '!', regex=True)
df['text'] = df['text'].replace(r'\.+', '', regex=True)
df.to_csv(f"{cleaned_dir}/{file_name}.csv")
df['text'].to_csv(f"{cleaned_dir}/{file_name}.txt", index=False, header=False)

In [29]:
df.tail()

,text,date,hashtags,emojis,symbols,links,mentions
id,,,,,,,
118988,ክርስቲያኖ ሮናልዶ የ2023 ምርጥ ግብ አግቢ በመሆን የግሎብ እግር ኳስ ...,2024-01-04T16:53:49,[],🐐♨♦♨♦,______,[],"[fast, fast]"
118989,የጣሊያን ሴሪ ኤ የታህሳስ ወር ምርጥ ተጫዋች እጩዎች ይፋ ሆነዋል። Sha...,2024-01-04T17:10:01,[],♨♦♨♦,______,[],"[fast, fast]"
118990,ሽመልስ በቀለ ራሱን ከብሄራዊ ቡድን አግልሏል ! Share ️ ️ sport...,2024-01-04T17:16:25,[],♨♦♨♦,______,[],"[fast, fast]"
118991,ሽመልስ በቀለ ️ ጊዜው አሁን እንደሆነ ይሰማኛል ፣ ብሄራዊ ቡድኑን የምሰ...,2024-01-04T17:20:01,[],🗣♨♦♨♦,"“""______",[],"[fast, fast]"
118992,ዶርትሙንድ በ26 ሚልየን ፓውንድ የውሰት ውል ጄደን ሳንቾን ወደ ቡድኑ ለ...,2024-01-04T17:27:01,[],♨♦♨♦,______,[],"[fast, fast]"

#### Save cleaned dataframe

In [30]:
df.to_csv(f"{cleaned_dir}/{file_name}.csv")

#### Save to .txt file

In [31]:
df['text'].to_csv(f"{cleaned_dir}/{file_name}.txt", index=False, header=False)